#title{background-color: #e2979c }

  body{font-family:Montserrat;}

h1{font-family: Montserrat-Black;
  font-weight:bold;font-size:3.5em;
line-height:1.5;
color:white;}

 h2{font-family:Montserrat-Bold;}

h3{font-family: Montserrat-Black;font-weight:bold;}
p{color:grey}
.containers-fluid{padding: 3% 15% 0%}

.navbar-brand{font-family: Ubuntu;font-size:3rem;font-weight:bold;}

.k{margin : 6% 4% 4% 0;}

.nav-item{padding :0 18px;}

.nav-link{font-size:1.2rem;}

.row{padding-left:16px;padding-top: 4.5rem;}

.sizz{width:110%;}
@media (max-width:1020px){
  .sizz{position:static;transform:rotate(0);}
  #title{text-align: center;}
  .q{margin:2%}
}

#campaign{ background-color: #fff;position:relative;padding: 40px 120px 40px 120px;}
.hh{text-align: center;}
.t{color:#ef8172;margin-bottom:1rem;}
.t:hover{color:#e2979c;}

#testimonials{
  color:#fff;
  text-align:center;
  background-color: #e2979c;

}

.fuc{padding-top:0px}
.oop{width:400px;height:500px}
.pot{color:#000;text-align:center;padding-top:40px;}
.zej{width:20%;text-align: left;}
.aw{width:300px}
.ll{width:15%;margin:20px 20px 50px;}
.carousel-item{padding: 7% 15%}

.art{padding-top: 40px;}

.hh{padding-top:30px;padding-bottom:30px;margin-bottom:10px}
.q{padding:3% 2%}

.rerre{margin:5%}
.lux{margin-top: 0px;}


.wq{margin:1%}
.poi{margin-bottom:40px;}
.weq{color:black;text-align:center;}


#helpline{background-color:#e2979c;text-align: center;padding:10% 15%}
.zz{margin:0px 9px 0px;}
.ass{color:#fff;padding-bottom: 25px}
.xxz{color:#fff}

#footer{background-color:#fff;padding:7% 15% ;text-align: center;padding-bottom:30px;padding-top:60px; }
.reddy{margin:2% 2% 5% 2%;}
.con{margin-bottom:2%}
